In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('Rectangular Data.csv')
df

      Name        Breed  Color  Height (cm)  Weight (kg) Date of Birth
0    Sintu     Labrador  Black           57           32      7/1/2013
1    Sonam    Schnauzer  Brown           70           72     9/16/2016
2    Rattu       Poodle  White           45           25     8/25/2014
3  Dolphie    Chihuahua  Brown           18            7    12/11/2011
4    Kattu     Labrador  Black           44           23     1/20/2017
5    Pelki    Chow Chow    Tan           39           25     4/20/2015
6    Zimba  St. Bernard   Grey           55           30     2/27/2018

In [6]:
#mean of Height
df['Height (cm)'].mean()

46.857142857142854

In [9]:
#Oldest and latest Date
df['Date of Birth'].min()

'1/20/2017'

In [8]:
df['Date of Birth'].max()

'9/16/2016'

In [14]:
#Cumulative sum
df['Weight (kg)'].cumsum()

0     32
1    104
2    129
3    136
4    159
5    184
6    214
Name: Weight (kg), dtype: int64